.board{
  width: 100%;
  margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.task_board
{
 border: 1px solid cadetblue;
 display: flex;
 flex-direction: column;
 width:50%;
border-radius: 10px;
margin-top: 20px;
margin-left: 70px;
margin-bottom: 30px;
/* margin-right: 40px; */
}
.board_head{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  /* border: 2px solid rgb(196, 244, 246); */
}
.board_head p{
 font-weight: bold;
 text-decoration: underline;
 margin: 15px;
}
.search {
 margin: 10px;
}
.board_list{
   /* border: 2px solid rgb(65, 90, 91); */
   /* border-radius: 10px; */
   height: 70vh;
   margin: 30px;
}
.task{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(7, 7, 7);
    margin: 5px;
    background-color: rgb(202, 197, 190);
    padding: 2px;
    align-items: center;
}
.check_task{
  border-radius: 2px;
  background-color: white;
  /* margin-top: 10px; */
  width: 50px;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 30px;
  transition: 2ms;
}
.open_task{
  border-radius: 4px;
  background-color: white;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    

}




/* Task Details */
.form {
  margin: auto;
  display: block;
  width: 50%;
  height: 80vh;
}

.form_field {
  display: flex;
  flex-direction: column;
  margin: 5px;
  /* border: 1px solid black; */
}

.form_fields input {
  color: rgb(16, 16, 16);
  /* width: 30%; */
}

.form_fields label {
  color: rgb(89, 82, 82);
  /* width: 30%; */
  font-size: small;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.back_button {
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  width: 10%;
  text-align: center;
}

