:root {
    --Sidebar-Logo-Top-Gap:25px;
    --Sidebar-Logo-Size:calc(var(--Sidebar-Width) * 0.6);
    --Sidebar-Nav-List-Top-Gap:25px; /* was 100px */
    --Sidebar-Nav-Item-Padding-Y:0.8em;
    --Sidebar-Nav-Item-Padding-X:calc(var(--Sidebar-Width) * 0.15);
    --Sidebar-Nav-Item-Icon-Size:24px;
    --Sidebar-Nav-Item-Icon-Text-Gap:calc(var(--Sidebar-Width) * 0.07);
}

.menu {
    position:fixed;
    top:0;left:0;
    width:var(--Sidebar-Width);
    height:100vh;
    background:var(--Primary);
    /* display: flex;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    justify-content: space-between; */
    font-family:"century gothic regular";
    display:table;
    z-index:100;
}

.sb_tr {
    display:table-row;
}

.sb_tr.logo_tr {
    height:0;
}

.menu ul, .menu li {
    list-style-type:none;
}

.handy {
    display:none;
}

.hamburger_holder {
    margin-left:calc(var(--Mobile-Sidebar-Hamburger-Size) * -0.2)
}

.hamburger_svg, .xmark_svg {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:4px;
    width:var(--Mobile-Sidebar-Hamburger-Size);
    height:var(--Mobile-Sidebar-Hamburger-Size);
    overflow:hidden;
}

.xmark_svg { display:none; }

.hamburger_svg svg,
.xmark_svg svg {
    display:block;
    width:100%;
    height:100%;
}

.hamburger_svg svg [fill],
.xmark_svg svg [fill]{
    fill:var(--Background-2);
}

.url-sb-path {
    margin-left:5px;
    text-transform:capitalize;
    color:var(--Background-2);
}

.url-sb-path::selection { background:transparent; }
.url-sb-path::-moz-selection { background:transparent; }

.logo-holder {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:var(--Sidebar-Logo-Top-Gap);
}

.logo-img {
    max-width:100%;
    width:var(--Sidebar-Logo-Size);
}

.logo-img.landscape {
    display:none;
}

.sidebar_list.closed {
    margin-left:calc(0px - var(--Sidebar-Menu-Width));
    display:none;
}

.sidebar_list {
    margin:0;
    margin-top:var(--Sidebar-Nav-List-Top-Gap);
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background:var(--Primary);
    width:var(--Sidebar-Menu-Width);
    height:calc(100% - var(--Sidebar-Nav-List-Top-Gap));
    transition:margin-left var(--Mobile-Sidebar-Toggle-Speed) ease-in-out;
}

.sidebar_list.closed {
    transition:margin-left var(--Mobile-Sidebar-Toggle-Speed) ease-in-out;
}

.sidebar_list .row {
    margin:0;
    width: 100%;
    max-width:100%;
    box-sizing:border-box;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar_list a.row {
    display:grid;
    align-items:center;
    grid-template-columns:var(--Sidebar-Nav-Item-Icon-Size) auto;
    grid-gap:0 var(--Sidebar-Nav-Item-Icon-Text-Gap);
    text-decoration:none;
    margin:0;
    width: 100%;
    max-width:100%;
    box-sizing:border-box;
    padding:var(--Sidebar-Nav-Item-Padding-Y) var(--Sidebar-Nav-Item-Padding-X);
    color:var(--Background);
    justify-content:normal;
}

/* disable 'notifs', 'restaurants', 'help' links in case we accidentally open it */
.sidebar_list a.row[href*="notif"],
.sidebar_list a.row[href*="restaurants"],
.sidebar_list a.row[href*="help"],
.sidebar_list .sidebar_list_top:has(a.row[href*="restaurants"]) + .sidebar_list_bot a.row[href*="account"]{
    pointer-events:none
}

.sidebar_list .row .svg_holder {
    position:relative;
    width:var(--Sidebar-Nav-Item-Icon-Size);
    height:var(--Sidebar-Nav-Item-Icon-Size);
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    z-index:0
}

/* force inherit cursor:pointer on svg <object> */
.sidebar_list .row .svg_holder:after {
    content:"";
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    z-index:2;    
}

.sidebar_list .svg_holder [class$="_icon_svg"]{
    display:grid;
    place-items:center;
    width:100%;
    height:100%;
}

.sidebar_list .svg_holder [class$="_icon_svg"] svg {
    display:block;
    --SVG-Extra-Padding:50%;
    width:calc(100% + var(--SVG-Extra-Padding));
    height:calc(100% + var(--SVG-Extra-Padding));
}

.sidebar_list .svg_holder [class$="_icon_svg"] svg [fill],
.sidebar_list .svg_holder [class$="_icon_svg"] svg [style*="fill:"]{
    fill:var(--Background-2)!important;
}

.sidebar_list .row span {
    flex:70%;
}

.sidebar_list .sidebar_list_bot li:last-child {
    margin-bottom:var(--Sidebar-Logo-Top-Gap);
}