/*------ FONT: BREVIA ------*/
@font-face {
    font-family: "Brevia Regular";
    src: local("Brevia-Regular"),
         url("./fonts/Brevia/Brevia-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Brevia Medium";
    src: local("Brevia-Medium"),
         url("./fonts/Brevia/Brevia-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Brevia Semibold";
    src: local("Brevia-Semibold"),
         url("./fonts/Brevia/Brevia-Semibold.ttf") format("truetype");
}

/*------ FONT: CENTURY GOTHIC ------*/
@font-face {
    font-family: "Century Gothic Regular";
    src: local("Century-Gothic-Regular"),
         url("./fonts/CenturyGothic/Century-Gothic-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Century Gothic Bold";
    src: local("Century-Gothic-Bold"),
         url("./fonts/CenturyGothic/Century-Gothic-Bold.ttf") format("truetype");
}

/*------ CSS VARIABLES ------*/
:root {
    /*----- TOP NAVBAR -----*/
    --Navbar-Height:100px;
    --Searchbar-Width:100%;
    --Searchbar-Height:40px;

    /*----- LEFT SIDEBAR -----*/
    --Sidebar-Width:13vw; /* this will be changed as screen resizes */

    /*----- GAPS FROM SIDES OF THE SCREEN -----*/
    --Screen-Margins-X:30px;
    --Screen-Margins-Y:25px; /* was calc(18vmin * 0.2) */

    /*----- MAIN CONTENT CONTAINER -----*/
    --Main-Board-Width:69%;
    --TaskBoard-Padding:25px;
    
    /*----- TABLES -----*/
    --Table-Headers-Padding-X:1.3em;
    --Table-Headers-Padding-Y:1em;
    --Table-Columns-Spacing:15px;

    /*----- AISLE GAP BETWEEN MAIN CONTENT'S LEFT & RIGHT -----*/
    /* (this excludes the main left sidebar) */
    --Center-Gap:25px;

    /*----- GLOBAL BORDER RADIUS -----*/
    --Corner-Rounding:10px;

    /*----- POPUP MESSAGE BOX -----*/
    --Popup-Msg-Box-Width:40vw;
    --Popup-Msg-Box-Padding-Y:50px;
    --Popup-Msg-Box-Padding-X:35px;
    --Popup-Msg-Button-Padding-Y:0.5em;
    --Popup-Msg-Button-Padding-X:1em;

    /*----- BOXES ON RIGHTSIDE -----*/
    --Rightside-Boxes-Spacing:20px;
    --Rightside-Boxes-Padding:14px;
    --Rightside-Boxes-Heading-Underline-Gap:8px;
    --Rightside-Boxes-Line-Spacing:10px;

    /*----- CLOCK IN/OUT BUTTON -----*/
    --ClockIn-Button-Padding-Y:0.5em;
    --ClockIn-Button-Padding-X:1em;

    /*----- CTA BUTTONS -----*/
    --CTA-Buttons-Top-Gap:25px;
    --CTA-Buttons-Width:225px;
    --CTA-Buttons-Padding-X:1em;
    --CTA-Buttons-Padding-Y:0.69em;
    --CTA-Buttons-Spacing:25px;

    /*----- GLOBAL TRANSITION SPEED -----*/
    --Hover-Speeds:0.25s;
}

/*---- LOGIN PAGE CSS ----*/
.login_form {
    --qbxny: calc(var(--Navbar-Height) / 3);
    position:absolute;
    top:0;left:0;
    margin-top:var(--qbxny);
    height:calc(100vh - var(--qbxny));
    left:50%;
    transform:translateX(-50%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:500px;
}

.login_form label,
.login_form input {
    display:block;
    text-transform:capitalize;
}

.login_form label {
    font-family:"Brevia Medium";
    margin-bottom:0.6em;
}

.login_form input {
    outline:none;
    font-family:inherit;
    font-size:inherit;
    color:var(--Text-Color);
    background:rgba(var(--Background-2-RGB), 0.5);
    padding:12px;
    border:1px solid var(--Background-2);
    border-radius:var(--Corner-Rounding);
}

.login_form input + label {
    margin-top:1.5em;
}

.login_form .submit,
.login_form .logIn {
    margin-top:22px;    
}

.login_form .submit h4,
.login_form .logIn h4 {
    display:inline-block;
    margin:0;
    padding:10px 16px;
    border-radius:var(--Corner-Rounding);
    background:var(--Primary);
    font-family:"Century Gothic Bold";
    letter-spacing:0.3px;
    color:var(--Background);
    cursor:pointer;
}

.login_form .logIn {
    position:relative;
}

.login_form .logIn h4 {
    position:absolute;
    bottom:0;right:0;
    margin-bottom:22px;
}

.login_form .submit h4:hover,
.login_form .logIn h4:hover {
    background:var(--Primary-Medium);
}

/*---- RESPONSIVENESS / MEDIA QUERIES ----*/
@media(max-width: 1366px){
    :root {
        --Sidebar-Width: 235px;
    }
}

@media(max-width: 1000px){
    :root {
        --Sidebar-Width: 225px;
    }
}

@media(max-width: 800px){
    :root {
        --Sidebar-Width: 200px;
    }
}

/*------------------------------------*/

.App{
 /* display: flex; */
 /* flex-direction: row; */
}


.components{
 display: flex;
 flex-direction: row;
 /* border: 2px solid black; */
}