
@import "./Fonts.css";
@import "./Colors.css";
@import "./Variables.css";
@import "./Misc.css";
@import "./MediaQueries.css";


body {
  background: var(--Background);
  margin: 0;
  font-family: "Century Gothic Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:var(--Body-Font-Size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b {
  font-weight:normal;
  font-family:"Century Gothic Bold";
}