/*------ FONT: BREVIA ------*/
@font-face {
    font-family: "Brevia Regular";
    src: local("Brevia-Regular"),
         url("./fonts/Brevia/Brevia-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Brevia Medium";
    src: local("Brevia-Medium"),
         url("./fonts/Brevia/Brevia-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Brevia Semibold";
    src: local("Brevia-Semibold"),
         url("./fonts/Brevia/Brevia-Semibold.ttf") format("truetype");
}

/*------ FONT: CENTURY GOTHIC ------*/
@font-face {
    font-family: "Century Gothic Regular";
    src: local("Century-Gothic-Regular"),
         url("./fonts/CenturyGothic/Century-Gothic-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Century Gothic Bold";
    src: local("Century-Gothic-Bold"),
         url("./fonts/CenturyGothic/Century-Gothic-Bold.ttf") format("truetype");
}

:root {
    /*----- FONT SIZES -----*/
    --Body-Font-Size:16px;

    --H1-Size:1.6rem;
    --H2-Size:1.3rem;
    --H3-Size:1.1rem;
    --H4-Size:1.1rem;
    --H5-Size:1.1rem;
    --H6-Size:1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Brevia Medium";
  font-weight:normal;
}

h1 {
    font-size:var(--H1-Size);
}

h2 {
    font-size:var(--H2-Size);
}

h3 {
    font-size:var(--H3-Size);
}

h4 {
    font-size:var(--H4-Size);
}

h5 {
    font-size:var(--H5-Size);
}

h6 {
    font-size:var(--H6-Size);
}