:root {
  /*----- COLORS -----*/
  --Primary: #003D9E;
  --Primary-RGB: 0,61,158;

  --Primary-Medium: #077DCE;
  --Primary-Medium-RGB: 7,125,206;

  --Primary-Lighter: #88CCF2;
  --Primary-Lighter-RGB: 136,204,242;

  --Primary-Lightest: #D3E8EF;
  --Primary-Lightest-RGB: 211,232,239;

  --Background: #ffffff;
  --Background-RGB: 255, 255, 255;

  --Background-2: #E2E8F5;
  --Background-2-RGB: 226,232,245;

  --Gray-Darker: #9b9b9b;
  --Gray-Darker-RGB: 155,155,155;

  --Gray: #c6c6c6;
  --Gray-RGB: 198,198,198;

  --Gray-Lighter: #E1E3E7;
  --Gray-Lighter-RGB: 225,227,231;

  --Secondary: #F77911;
  --Secondary-Medium: #FDA300;

  --Secondary-Lighter: #FFC619;
  --Secondary-Lighter-RGB: 255,198,25;

  --Text-Color: #000000;
  --Text-Color-RGB: 0,0,0;

  --Text-Color-Lighter: #4a4a4a;
  --Text-Color-Lighter-RGB: 74,74,74;

  /*----- FONT SIZES -----*/
  --Body-Font-Size:16px;
}

body {
  background: var(--Background);
  margin: 0;
  font-family: "Century Gothic Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:var(--Body-Font-Size);
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Brevia Medium";
  font-weight:normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b {
  font-weight:normal;
  font-family:"Century Gothic Bold";
}

.loading-icon {
	display:flex;
	align-items:center;
	grid-gap:0 var(--Loading-Dots-Spacing);
}

.loading-dot {
	flex-shrink:0;
	width:var(--Loading-Dots-Size);
	height:var(--Loading-Dots-Size);
	background:var(--Loading-Dots-Color);
	border-radius:100%;
	opacity:0;
}

.loading-dot:first-child {
	animation:LoadingAni var(--Loading-Dots-Animation-Duration) ease-in-out infinite normal running;
}

.loading-dot:nth-child(2) {
	animation:LoadingAni var(--Loading-Dots-Animation-Duration) ease-in-out var(--Loading-Dots-Animation-Delay) infinite alternate running;
}

.loading-dot:nth-child(3) {
	animation:LoadingAni var(--Loading-Dots-Animation-Duration) ease-in-out calc(var(--Loading-Dots-Animation-Delay) * 2) infinite alternate running;
}

@keyframes LoadingAni {
	0% {
		opacity:0
	}
	
	20% {
		opacity:1
	}
	
	80% {
		opacity:1
	}
}