:root {
  --Primary: #003D9E;
  --Primary-Medium: #077DCE;
  --Primary-Lighter: #88CCF2;
  --Primary-Lightest: #D3E8EF;

  --Background: #ffffff;

  --Gray: #c6c6c6;
  --Gray-Lighter: #E1E3E7;

  --Secondary: #F77911;
  --Secondary-Medium: #FDA300;
  --Secondary-Lighter: #FFC619;
}

body {
  background: var(--Background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
