/*---- RESPONSIVENESS / MEDIA QUERIES ----*/

@media(max-width: 1366px){
    :root {
        --Sidebar-Width: 225px;
    }
}

@media(min-width: 1001px){
    /* always show sidebar on wide screens, regardless of whether it's closed on mobile view or not */
    .sidebar_list.closed {
        display:flex!important
    }

    /* prevent transition when mobile searchbar is not meant to be shown on larger screens */
    .menu.menu-closed .sidebar_list {
        transition:none!important;
    }
}

/*---- mobile sidebar begins ----*/
@media(max-width: 1000px){
    :root {
        --Sidebar-Width:100%;
        --Sidebar-Menu-Width:25vw!important;
        --Sidebar-Nav-Item-Padding-Y:var(--Mobile-Sidebar-Nav-Item-Padding-Y)!important;
        --Sidebar-Nav-Item-Padding-X:var(--Mobile-Sidebar-Nav-Item-Padding-X)!important;
        --Main-Board-Width:60%;
    }

    /*------------------*/

    .home_page {
        /* margin-top:calc(var(--Mobile-TopBar-Height) + var(--Navbar-Height))!important; */
        /* margin-top:calc(var(--Screen-Margins-Y) + var(--Mobile-TopBar-Height))!important; */
    }

    .home_page, .account_page, .stats_page, .notifs_page, .help_page, .all-task-page, .assign-task-page, .create-task-page, .daily-attendance-page, .statistics-page, .employee-list-page, .employee-page {
        margin-top:calc(var(--Screen-Margins-Y) + var(--Mobile-TopBar-Height))!important;
        margin-left:var(--Screen-Margins-X)!important;
        width:calc(100% - var(--Screen-Margins-X) * 2)!important;
    }

    /*-------------------*/
    
    .menu {
        background:transparent!important;
        height:auto!important;
    }

    .menu .logo-holder {
        justify-content:left;
        --Sidebar-Logo-Top-Gap:var(--Mobile-Sidebar-Padding-Y)!important;
        padding:0 var(--Mobile-Sidebar-Padding-X);
    }

    .menu .handy {
        display:flex!important;
        align-items:center;
        justify-content:left;
        padding:0 var(--Mobile-Sidebar-Padding-X);
        padding-top:var(--Mobile-Sidebar-Hamburger-Top-Gap);
        padding-bottom:calc(var(--Mobile-Sidebar-Padding-Y) - (var(--Mobile-Sidebar-Hamburger-Size) * 0.2));
        width:fit-content;
        cursor:pointer;
    }

    .hamburger_holder {
        display:block!important;
    }

    .menu .logo-img {
        width:var(--Mobile-Sidebar-Logo-Width)
    }

    .menu .logo-img.portrait {
        display:none!important;
    }

    .menu .logo-img.landscape {
        display:block!important
    }

    .logo_tr {
        background:var(--Primary)
    }

    .sidebar_list {
        margin-top:0!important;
        height:calc(100vh - var(--Mobile-TopBar-Height))!important;
    }

    .sidebar_list .sidebar_list_bot li:last-child {
        margin-bottom:var(--Sidebar-Nav-Item-Padding-Y)!important
    }
    
    /*-----------------------*/

    .nav_bar {
        display:none!important;
    }

    /*-----------------------*/

    .home_page {
        display:block!important;

        --Task-Row-Padding-Y:1em!important;
        --Task-Row-Padding-X:1.5em!important;
    }

    .App > .components > .home_page > .board:first-child {
        padding:var(--TaskBoard-Padding)!important;
        border-radius:var(--Corner-Rounding);
        background:var(--Background-2);
        margin-bottom:var(--Rightside-Boxes-Spacing);
    }

    .App > .components > .home_page > .board:first-child .board_head:first-child {
        position:relative!important;
        bottom:initial!important;
        height:auto!important;
    }

    .home_page .task_board {
        padding:0!important;
    }

    /* home: tasks board heading */
    .App > .components > .home_page > .board:first-child .board_head:first-child h2 {
        font-size:var(--H4-Size)!important;
        /* inherit other rightside boxes styling */
        color: var(--Primary)!important;
        margin-bottom: calc(var(--Rightside-Boxes-Heading-Underline-Gap) * 1.5)!important;
        padding-bottom: var(--Rightside-Boxes-Heading-Underline-Gap)!important;
        border-bottom: 1px solid rgba(var(--Primary-RGB),0.35)!important;
    }

    /* home: task name */
    .home_page .task > p > span {
        border-color:transparent!important;
        background-color:transparent!important;
    }

    /* home: task action buttons */
    .home_page .open_task, .home_page .check_task {
        height:min-content!important;
        white-space:normal!important;
        align-self:center;
    }

    /* home: complete all tasks button */
    .complete-all-btn-container {
        margin-top:var(--Task-Row-Spacing)!important;
    }

    /* home: task details */
    .home_page .form {
        padding-top:calc(var(--Rightside-Boxes-Heading-Underline-Gap) * 1.5)!important
    }

    .home_page .task_details {
        --Temporary-Form-Width:100%!important;
        --Task-Details-CTA-Top-Gap:10px!important;
        --CTA-Buttons-Width:40%!important;
    }

    .home_page .task_details .back_button {
        margin-left:auto;
        margin-right:auto;
    }

    .acc_box {
        display:none!important;
    }

    /*------------------------------*/
    /* tasks: the whole container */
    .task_page {
        margin-top:var(--Mobile-TopBar-Height)!important;
        margin-left:0!important;
        width:100%!important;
        height:calc(100% - var(--Mobile-TopBar-Height))!important;
        background:var(--Background-2);
    }
    /* tasks: table headers */
    .task_page .board_columns {
        border-radius:0!important;
    }

    /* tasks: table headers - only 2 columns */
    .task_page .columns_names,
    .task_page .my_task_board .task {
        grid-template-columns:60% auto!important;
    }

    /* tasks: table headers - remove some to make it 2 */
    .task_page .my_task_board [col-name="status"],
    .task_page .my_task_board [col-name="urgency"]{
        display:none!important
    }

    /* tasks: table headers - 1st one - remove extra padding */
    .task_page .columns_names p:first-child {
        justify-self:center!important;
        padding-left:var(--Table-Headers-Padding-X)!important
    }

    /*-----------------------*/

    /* stats page: bottom table (EMPLOYEE) */
    .App > .components .employee-performance-table thead,
    .App > .components .employee-performance-table tr {
        display:grid;
        grid-template-columns:repeat(4, 1fr);
    }

    .App > .components .employee-performance-table th[col-name="name"],
    .App > .components .employee-performance-table th[col-name="job title"]{
        display:none;
    }

    .App > .components .employee-performance-table td[col-name="name"],
    .App > .components .employee-performance-table td[col-name="job title"]{
        display:none;
    }

    /* account page */
    .account_page {
        --Account-Image-Column-Width:180px!important;
    }
    
    .account_page form {
        display:block!important;
        grid-template-columns:auto!important;
        grid-gap:0!important;
    }

    .account_page .photo_col {
        margin-bottom:20px;
    }

    .account_page .photo_col_inner {
        margin-top:0!important;
        display:grid;
        grid-template-columns:var(--Account-Image-Column-Width) auto;
        grid-gap:15px;
        align-items:stretch;
        width:auto!important;
    }

    .account_page .photo_section + .acc_side_box {
        margin-top:0!important;
    }

    .account_page .photo_section + .acc_side_box:not(.mobile_acc_menu){
        display:none!important
    }

    .account_page .mobile_acc_menu {
        display:block!important;
        padding:0!important;
        background:transparent!important;
        height:100%;
    }

    .account_page .mobile_acc_menu .tab-buttons-container {
        display:grid!important;
        grid-template-columns:repeat(2, 1fr);
        align-items:stretch;
        grid-gap:10px;
        height:100%;
        --Tab-Buttons-Width:100%!important;
    }
    
    .account_page .mobile_acc_menu button.tab-buttons {
        background:var(--Primary-Medium)!important;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
        font-size:calc(var(--Body-Font-Size) - 1px);
        cursor:pointer;
    }

    .account_page .mobile_acc_menu button.tab-buttons.active {
        background:var(--Secondary-Medium)!important
    }

    .account_page .call_to_actions {
        grid-template-columns:repeat(2, 1fr)!important;
    }

    .account_page .call_to_actions button {
        width:100%;
    }

    /*-----------------------*/
    

    /*-----------------------*/

    .quick_actions {
        padding:0!important;
        --Quick-Actions-Spacing:25px!important;
        --Quick-Actions-Icons-Size:3rem!important;
    }

    .quick_actions span {
        overflow:hidden!important;
        text-overflow:ellipsis!important;
        white-space:nowrap!important;
        width:100%!important;
    }

    /*-----------------------*/

    .ht_popup {
        margin-left:0!important;
        width:100%!important;
        --Popup-Msg-Box-Width:var(--Mobile-Popup-Msg-Box-Width)!important
    }

    /*-----------------------*/

    .tab-buttons-container {
        display:none!important;
    }
}

@media(max-width: 800px){

    :root {
        --Sidebar-Menu-Width:35vw!important;
    }

    /* account page */
    .account_page {
        --Account-Image-Column-Width:140px!important;
    }

    
    .quick_actions {
        --Quick-Actions-Icons-Size:55px!important;
        --Quick-Actions-Icons-Bottom-Gap:calc(var(--Quick-Actions-Icons-Size) * -0.5)!important;
    }

    .quick_actions span {
        font-size:1rem;
    }

    
}

@media(max-width: 600px){
    :root {
        --Mobile-Sidebar-Logo-Width:40vw;
        --Sidebar-Menu-Width:50vw!important;
    }

    .circular-progress-bar-section {
        transform-origin:center;
        transform:scale(0.85,0.85)
    }

    /* account page */
    .account_page {
        --Account-Image-Column-Width:100px!important;
    }

    .quick_actions {
        --Quick-Actions-Icons-Size:48px!important;
        --Quick-Actions-Icons-Bottom-Gap:10px!important;
    }

    .quick_actions span {
        font-size:0.9rem;
    }
}