/*---- RESPONSIVENESS / MEDIA QUERIES ----*/

@media(max-width: 1366px){
    :root {
        --Sidebar-Width: 225px;
    }
}

@media(min-width: 1001px){
    /* always show sidebar on wide screens, regardless of whether it's closed on mobile view or not */
    .sidebar_list.closed {
        display:flex!important
    }

    .menu.menu-closed .sidebar_list {
        transition:none!important;
    }
}

/*---- mobile sidebar begins ----*/
@media(max-width: 1000px){
    :root {
        --Sidebar-Width:100%;
        --Sidebar-Menu-Width:25vw!important;
        --Sidebar-Nav-Item-Padding-Y:var(--Mobile-Sidebar-Nav-Item-Padding-Y)!important;
        --Sidebar-Nav-Item-Padding-X:var(--Mobile-Sidebar-Nav-Item-Padding-X)!important;
        --Main-Board-Width:60%;
    }

    .home_page {
        margin-top:calc(var(--Mobile-TopBar-Height) + var(--Navbar-Height))!important;
    }
    
    .menu {
        background:transparent!important;
    }

    .menu .logo-holder {
        justify-content:left;
        --Sidebar-Logo-Top-Gap:var(--Mobile-Sidebar-Padding-Y)!important;
        padding:0 var(--Mobile-Sidebar-Padding-X);
    }

    .menu .handy {
        display:flex!important;
        align-items:center;
        justify-content:left;
        padding:0 var(--Mobile-Sidebar-Padding-X);
        padding-top:var(--Mobile-Sidebar-Hamburger-Top-Gap);
        padding-bottom:calc(var(--Mobile-Sidebar-Padding-Y) - (var(--Mobile-Sidebar-Hamburger-Size) * 0.2));
        width:fit-content;
        cursor:pointer;
    }

    .hamburger_holder {
        display:block!important;
    }

    .menu .logo-img {
        width:var(--Mobile-Sidebar-Logo-Width)
    }

    .menu .logo-img.portrait {
        display:none!important;
    }

    .menu .logo-img.landscape {
        display:block!important
    }

    .logo_tr {
        background:var(--Primary)
    }

    .sidebar_list {
        margin-top:0!important;
        height:100%!important;
    }

    .home_page {
        display:block!important;
        margin-left:var(--Screen-Margins-X)!important;
        width:calc(100% - (var(--Screen-Margins-X) * 2))!important
    }

    .acc_box {
        display:none!important;
    }
    /*-----------------------*/

    .quick_actions {
        padding:0!important;
        --Quick-Actions-Spacing:25px!important;
        --Quick-Actions-Icons-Size:3rem!important;
    }

    .quick_actions span {
        overflow:hidden!important;
        text-overflow:ellipsis!important;
        white-space:nowrap!important;
        width:100%!important;
    }
}

@media(max-width: 800px){
    h1 {
        font-size:34px;
    }

    h2 {
        font-size:1.3rem;
    }

    :root {
        --Sidebar-Menu-Width:35vw!important;
    }

    
    .quick_actions {
        --Quick-Actions-Icons-Size:55px!important;
        --Quick-Actions-Icons-Bottom-Gap:calc(var(--Quick-Actions-Icons-Size) * -0.5)!important;
    }

    .quick_actions span {
        font-size:1rem;
    }

    
}

@media(max-width: 600px){
    :root {
        --Mobile-Sidebar-Logo-Width:40vw;
        --Sidebar-Menu-Width:50vw!important;
    }

    .quick_actions {
        --Quick-Actions-Icons-Size:48px!important;
        --Quick-Actions-Icons-Bottom-Gap:10px!important;
    }

    .quick_actions span {
        font-size:0.9rem;
    }
}