/* CSS STYLING FOR CHANGE PASSWORD PAGE*/
.change-password-page{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 85%;
    padding: 2rem 2rem;
  }
  .change-password-page-upper-section{
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .link-link{
    text-decoration: none;
    color: black;
  }
  .change-password-page-upper-section button{
    padding: 0.3rem 1rem;
    border: none;
    background-color: #003D9E;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  .change-password-page-upper-section button:hover{
    background-color: #FFC619;
  }
  .change-password-page-lower-section{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    border-radius: 6px;
    background-color: rgba(153, 212, 254, 0.644);
  }
  .lower-section-head p{
    width: 300px;
  }
  .input-box{
    padding: 0.5rem 0.5rem;
    width: 300px;
    border: 1px solid #003D9E;
    border-radius: 4px;
  }

  .change-password-button-section{
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .change-password-button-section button{
    width: 200px;
    padding: 0.3rem 0;
    border-radius: 4px;
    cursor: pointer;
  }
  .discard-btn{
    border: 2px solid #003D9E;
    color: #003D9E;
    background-color: transparent;
  }
  .save-btn{
    border: 2px solid #003D9E;
    color: white;
    background-color: #003D9E;
  }
  .save-change , .discard-change{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: transparent;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .save-change-dialogue , .discard-change-dialogue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
    background-color: white;
    border-radius: 8px;
    gap: 2rem;
    box-shadow: 0px 0px 5px black;
  }
  .save-change-dialogue button{
    padding: 0.4rem 2rem;
    background-color: #F77911;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
  }
  .discard-dialogue-button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .discard-dialogue-button-section button{
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 6px;
  }
  .discard-dialogue-button-section button:nth-child(1){
    background-color: red;
    color: white;
  }
  .discard-btn{
    cursor: pointer;
  }
  
input:focus{
  outline: none;
}
input:focus:invalid{
  border: 2px solid red;
}