:root {
    --Quick-Actions-Board-Padding:25px;
    --Quick-Actions-Board-Title-Bottom-Gap:0.5em;
    --Quick-Actions-Padding-Y:1em;
    --Quick-Actions-Padding-X:1em;
    --Quick-Actions-Spacing:35px;
}

.manager_view.home_page {
    margin-top:var(--Screen-Margins-X);
}

.manager_view.home_page .board {
    background:var(--Background-2);
    border-radius:var(--Corner-Rounding);
    padding:var(--Quick-Actions-Board-Padding);
}

.manager_view.home_page .board h2 {
    margin-bottom:calc((var(--Quick-Actions-Board-Title-Bottom-Gap) + var(--Quick-Actions-Board-Padding)) / 2);
    color:var(--Primary);
    padding-bottom:var(--Quick-Actions-Board-Title-Bottom-Gap);
    border-bottom:1px solid var(--Gray-Darker);
}

.quick_actions {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:var(--Quick-Actions-Spacing);
    font-family:"Century Gothic Bold";
}

.quick_actions a {
    display:grid;
    place-items:center;
    text-decoration:none;
    background:var(--Primary-Medium);
    border-radius:var(--Corner-Rounding);
    padding:var(--Quick-Actions-Padding-Y) var(--Quick-Actions-Padding-X);
    aspect-ratio:1/1;
    text-align:center;
}

.quick_actions a, .quick_actions span {
    color:var(--Background)
}