*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html{
  display: flex;
  justify-content: center;
  align-items: end;
}
body{
  overflow-x: hidden;
}
.link-a{
  text-decoration: none;
}
.components {
 display: flex;
 flex-direction: row;
 /* border: 2px solid black; */
 align-items: center;
}