.task_page {
    position:absolute;
    top:0;margin-top:var(--Navbar-Height);
    left:0;margin-left:calc(var(--Sidebar-Width) + var(--Screen-Margins-X));
    width:calc(100% - var(--Sidebar-Width) - (var(--Screen-Margins-X) * 2));
}

.my_task_board {
    border-radius:var(--Corner-Rounding);
    overflow:hidden;
}

.board_columns {
    
}

.columns_names {
    background:var(--Primary);
    color:var(--Background);
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:0 var(--Table-Columns-Spacing);
    place-items:center;
    font-family:"Brevia Medium";
}

.columns_names p {
    margin:0;
    padding:var(--Table-Headers-Padding-Y) var(--Table-Headers-Padding-X);
}

.board_list {
    padding:25px; /* delete later */
}

.board_list p {
 font-weight: bold;
 text-decoration: underline;
 margin: 15px;
}

.task {
 display: flex;
 justify-content: space-between;
 border: 1px solid rgb(7, 7, 7);
 margin: 5px;
 background-color: rgb(202, 197, 190);
 padding: 2px;
 align-items: center;
}

.check_task {
 border-radius: 2px;
 background-color: white;
 /* margin-top: 10px; */
 width: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 30px;
 transition: 2ms;
}

.open_task {
 border-radius: 4px;
 background-color: white;
 width: 15%;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 30px;


}




