:root {
    --Task-Row-Padding-Y:20px;
    --Task-Row-Padding-X:22px;
    --Task-Row-Transparency:50%;
    --Task-Name-Padding-Y:0.5em;
    --Task-Name-Padding-X:1em;
    --Task-Action-Btn-Padding-Y:0.5em;
    --Task-Action-Btn-Padding-X:1em;
    --Task-Row-Spacing:22px;
}

.my_task_board {
    position:relative;
}

.my_task_board .tab-buttons-container {
    position:absolute;
    bottom:100%;
    height:calc(var(--Navbar-Height) - (var(--Screen-Margins-Y) * 0.2) - 5px);
    display:flex;
    align-items:center;
}

.board_columns {
    border-radius:var(--Corner-Rounding);
    overflow:hidden;
}

.columns_names {
    background:var(--Primary);
    color:var(--Background);
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:0 var(--Table-Columns-Spacing);
    padding:0 var(--Task-Row-Padding-X);
    place-items:center;
    font-family:"Brevia Medium";
}

.columns_names p {
    margin:0;
    padding:var(--Table-Headers-Padding-Y) var(--Table-Headers-Padding-X);
}

.columns_names p:first-child {
    justify-self:left;
    padding-left:calc(var(--Table-Headers-Padding-X) * 2)
}

.task_page .board_list,
.all-task-page .board_list {
    /* padding:var(--Task-Row-Padding-Y) 0; */
    padding:var(--Task-Row-Padding-Y) var(--Task-Row-Padding-X);
    background:var(--Background-2);
}


.task_page .board_list .task,
.all-task-page .board_list .task {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:0 var(--Table-Columns-Spacing);
    align-items:center;
}

.task_page .board_list .task,
.all-task-page .board_list .task {
    margin:0!important;
    padding:0!important;
    background:transparent;
    margin:0!important;
    border:none!important;
    border-radius:var(--Corner-Rounding);
}

/* make each task row stretch to the height of the highest element in that row */
.task_page .board_list .task > *:not(.message),
.all-task-page .board_list .task > *:not(.message){
    height:100%;
}

.task_page .board_list .task + .task {
    margin-top:var(--Task-Row-Spacing)!important;
}

.task_page .task > p,
.all-task-page .task > p{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0!important;
    width:100%;
    color:var(--Text-Color);
}

.task_page .task > p:first-of-type,
.all-task-page .task > p:first-of-type{
    padding-left:var(--Task-Row-Padding-X);
    justify-content:inherit;
}

.task_page .open_task,
.task_page .check_task {
    text-transform:capitalize;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--Primary-Medium);
    border-radius:var(--Corner-Rounding);
    color:var(--Background);
    transition:background var(--Hover-Speeds-Faster) ease-in-out;
    cursor:pointer;
}

.task_page .open_task:hover,
.task_page .check_task:hover {
    background:var(--Primary)
}

.task_page .open_task {    
    text-align:center;
}

.task_page .open_task p {
    margin:0!important;
    padding:var(--Task-Action-Btn-Padding-Y) var(--Task-Action-Btn-Padding-X);
    text-decoration:none!important;
    font-weight:normal!important;
}

.task_page .check_task {
    padding:var(--Task-Action-Btn-Padding-Y);
}

.board_list [col-name="task name"]{
    text-transform:capitalize;
}