.user_brief_info {

}

.user_box {
   border-radius:var(--Corner-Rounding);
   background:var(--Background-2);
   padding:var(--Rightside-Boxes-Padding);
}

.user_box + .user_box {
   margin-top:var(--Rightside-Boxes-Spacing);
}

.user_box > h4:first-child {
   margin-top:0;
}

.user_box h4 {
   color:var(--Primary);
   margin-bottom:calc(var(--Rightside-Boxes-Heading-Underline-Gap) * 1.5);
   padding-bottom:var(--Rightside-Boxes-Heading-Underline-Gap);
   border-bottom:1px solid var(--Gray-Darker);
}

.user {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.user_box p {
   line-height:1.6em;
}

.user_box p + p {
   margin-top:var(--Rightside-Boxes-Line-Spacing);
}

.user_details p:first-of-type {
   margin-top: 0px;
}

.user_details p:last-of-type {
   margin-bottom: 0px;
}

button.clock_in_btn,
button.clock_out_btn {
   display:block;
   width:100%;
   margin-bottom:calc(var(--Rightside-Boxes-Line-Spacing) + 3px);
   border-radius:var(--Corner-Rounding);
   padding:var(--ClockIn-Button-Padding-Y) var(--ClockIn-Button-Padding-X);
   background:var(--Primary-Medium);
   color:var(--Background);
   font-family:"Century Gothic Bold";
   font-size:inherit;
   border:none;
   cursor:pointer;
   transition:background var(--Hover-Speeds) ease-in-out;
}

button.clock_in_btn:hover,
button.clock_out_btn:hover {
   background:var(--Secondary-Medium);
}