/* button{
    background-color: red;
    font-size: xx-large;
    float:right;
} */

.logout_page{
    position: absolute;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    margin-left:calc(var(--Sidebar-Width) / 2);
}

.logoutFlex {
    display:flex;
    justify-content:space-between;
    margin-top:15px;
}

.logoutBtn {
    
}

.logout_page button {
    padding:25px;
    background-color: #fff;
    outline:none;
    border-radius:var(--Corner-Rounding);
    border:1px solid var(--Text-Color);
    cursor:pointer;
}