/* CSS STYLING FOR STATISTICS PAGE*/
:root {
    --Stats-More-Menu-Icon-Width:3px;

    --Stats-Page-Boxes-Padding-Y:2rem;
    --Stats-Page-Boxes-Padding-X:2rem;

    --Stats-Page-Graph-Text-Row-Spacing:2rem;

    --Stats-Page-Table-Columns-Padding-Y:1rem;
    --Stats-Page-Table-Columns-Padding-X:0.8rem;

    --Stats-Page-Table-Row-Padding-Y:15px;
}

.statistics-page > *:last-child {
    margin-bottom:calc(var(--Screen-Margins-Y) * 1.5)
}

.statistics-page-upper-section {
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics-page .tab-buttons-container {
    position:absolute;
    bottom:100%;
    height:calc(var(--Navbar-Height) - (var(--Screen-Margins-Y) * 0.2) - 5px);
    display:flex;
    align-items:center;
}

.stats-kebab {
    margin-right:-5px;
    padding:0 5px;
    cursor:pointer;
    box-sizing:content-box;
}

.sk-bob {
    width:var(--Stats-More-Menu-Icon-Width);
    height:var(--Stats-More-Menu-Icon-Width);
    background:var(--Gray-Darker);
    background:rgba(var(--Text-Color-RGB),0.7);
    border-radius:100%;
}

.sk-bob + .sk-bob {
    margin-top:2px;
}

.statistics-page-middle-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

/* graph, filled part */
.statistics-page svg [stroke="#003D9E"]{
    stroke:var(--Secondary-Medium);
}

.statistics-page svg [fill="#003D9E"]{
    fill:var(--Secondary-Medium);
}

/* graph, NOT FILLED part */
.statistics-page svg [stroke="#F77911"]{
    stroke:var(--Primary);
}

.statistics-page svg [fill="#F77911"]{
    fill:var(--Primary);
}

/* graph, circular part */
.circular-progress-bar-section svg {
    position:relative;
}

/* graph, percentage part */
.circular-progress-bar-section svg ~ input[value*="%"]{
    position:absolute;
    font-family:"Century Gothic Bold"!important;
    font-size:1.6rem!important;
    height:100%!important;
    bottom:initial!important;
    margin-top:calc(var(--Stats-Page-Graph-Text-Row-Spacing) / -2);
}

/* graph, text info */
.circular-progress-bar-section svg ~ input:not([value*="%"]){
    position:absolute;
    font-family:inherit!important;
    font-size:inherit!important;
    height:100%!important;
    bottom:initial!important;
    margin-top:calc(var(--Stats-Page-Graph-Text-Row-Spacing) / 2);
    max-width:calc(80% - (20px * 2));
    margin-left:auto;
    margin-right:auto;
    text-overflow:ellipsis;
}

/* stats boxes */
.statistics-page-middle-section-elements {
    display:flex;
    flex-direction:column;
    gap:2rem;

    padding:var(--Stats-Page-Boxes-Padding-Y) var(--Stats-Page-Boxes-Padding-X);
    background:var(--Background);
    border-radius:var(--Corner-Rounding);
    border:1px solid var(--Blue-Gray-Light);

    overflow:hidden;
}

/* if only 1 stats box, make it span the screen width */
.statistics-page-middle-section-elements:only-of-type {
    width:100%;
}

.statistics-page-middle-section-elements:only-of-type .circular-progress-bar-section {
    justify-content:center;
}

.statistics-page-middle-section-elements-upper-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.statistics-page-middle-section-elements-upper-part p{
    font-family:"Century Gothic Bold";
    color:var(--Primary);
}

.circular-progress-bar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.statistics-page-lower-section {
    margin-top:calc(var(--Screen-Margins-X) * 1.2);
}

.statistics-page-lower-section h2{
    color:var(--Primary);
}

.employee-performance-table {
    position:relative;
    border:none!important;
    border-collapse: collapse;
    margin-top: 2rem;
    border-radius:var(--Corner-Rounding);
    overflow:hidden;
    box-shadow:0 4px 4px 0 rgba(var(--Text-Color-RGB),0.15);
    width:100%;
    z-index:0;
}

.employee-performance-table thead {
    position:relative;
    box-shadow:0 4px 4px 0 rgba(var(--Text-Color-RGB),0.25);
    background:var(--Primary);
    color:var(--Background);
    z-index:3;
}

.employee-performance-table thead th:first-child {
    padding-left:calc(var(--Stats-Page-Table-Columns-Padding-X) * 2);
}

.employee-performance-table thead th {
    width:auto!important;
    height:auto!important;
    padding:var(--Stats-Page-Table-Columns-Padding-Y) var(--Stats-Page-Table-Columns-Padding-X);
    font-family:"Brevia Regular";
    font-size:calc(var(--Body-Font-Size) - 1px);
}

.employee-performance-table thead th:last-child {
    padding-right:calc(var(--Stats-Page-Table-Columns-Padding-X) * 2);
    text-align:right;
}

.employee-performance-table tbody tr {
    position:relative;
    background:var(--Background-2);
    height:auto!important;
}

/* table row border bottom */
.employee-performance-table tbody tr:not(:last-child):after {
    content:"";
    position:absolute;
    bottom:0;left:0;
    margin-bottom:-1px;
    width:100%;
    height:2px;
    background:var(--Blue-Gray-Light);
    transform:perspective(0);
}

.employee-performance-table tbody tr td:first-child {
    padding-left:calc(var(--Stats-Page-Table-Columns-Padding-X) * 2);
    text-align:left;
}

.employee-performance-table tbody tr td {
    font-size:inherit!important;
    width:auto!important;
    height:auto!important;
    padding:var(--Stats-Page-Table-Row-Padding-Y) var(--Stats-Page-Table-Columns-Padding-X);
    text-align:center;
}

.employee-performance-table tbody tr td:last-child {
    padding-right:calc(var(--Stats-Page-Table-Columns-Padding-X) * 2);
    text-align:right;
}

[class*="statistics-page-middle-section"] input {
    pointer-events:none;
}